@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Accessible focus effects
https://uxdesign.cc/create-better-accessible-focus-effects-75a3de27b8ba
*/
:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.0625rem #facc15 !important; /* 1px */
  /* Tailwind CSS color yellow-400 === #facc15 */
  border-color: transparent !important;
  border-radius: 0.5rem;
  /* Tailwind CSS rounded-lg === 0.5rem === 8px */
}

/* HTML scroll behavior and font */
html,
body {
  scroll-behavior: smooth;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* =================== 
    RESTORA FONT
  ===================== */
@font-face {
  font-family: Restora;
  src: url('../asset/Fonts/restora-1.otf');
}
@font-face {
  font-family: Restoramedium;
  src: url('../asset/Fonts/restoramedium-1.otf');
}
@font-face {
  font-family: Restorabold;
  src: url('../asset/Fonts/restoraextrabold-1.otf');
}
a,
p, 
h2,
h3,
h4, 
button {
  font-family: "Restora";
}

.restoramedium {
  font-family: "Restoramedium";
}
.restorabold {
  font-family: "Restorabold";
}

/* Remove the fullPage.js watermark from the last slide */
.fp-watermark {
  display: none;
}
/* =========================== 
  WORK EXPERIENCE SECTION 
============================== */
.work-exp-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
}
.line:after {
  content: "";
  position: absolute;
  top: 0;
  right: -2.5rem;
  height: 4px;
  width: 2.5rem;
  border: 2px solid #F38B57;
}

/* =========================== 
  Media queries
============================== */
@media (min-width: 768px) {
  /* background images */
  .yw-bg-img {
    background-image: url("../images/Intro-Animation.jpg");
  }
  .blue-bg-img {
    background-image: url("../images/blue-bg-img.jpg");
  }
  .pink-bg-img {
    background-image: url("../images/pink-bg-img.jpg");
  }
  .purple-bg-img {
    background-image: url("../images/purple-bg-img.png");
  }

  .yw-bg-img, 
  .blue-bg-img,
  .pink-bg-img, 
  .purple-bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* work experience code icon */
  .code-icon::before {
    position: absolute;
    top: 0;
    left: -1rem;
    background-color: #FFE366; 
  }

  /* contact section image flip effect */
  .perspective {
    perspective: 700px;
  }
  .front,
  .back{
    backface-visibility: hidden;
  }
  .wrapper {
    transition: transform 1.4s ease-out;
    transform-style: preserve-3d;
  }
  .wrapper:hover,
  .back{
    transform: rotateY(180deg);
  }
}